- content_for :role_update_btn_set do
  .btn-group
    %a.btn.btn-warning
      %i.icon-repeat.glyphicon.glyphicon-repeat
    %a.btn.btn-success
      %i.icon-ok.glyphicon.glyphicon-ok

- content_for :role_main do
  - hidden = 'visibility:hidden'
  .panel.panel-piluku
    .panel-heading
      %h3.panel-title Role Info (edit in place)
    .panel-body
      = form_for(role, url: change_admin_role_path(role), html: { class: "form-inline" } ) do |f|
        .row
          .col-md-12
            %h3.holder
              = t '.role_name'
              %span.a= role.name
              %span.b{ style: hidden }
                .form-group= f.text_field :name, class: "form-control"
                = yield(:role_update_btn_set)

        .row
          .col-md-12
            %h5.holder
              = t '.title'
              %span.a= role.title
              %span.b{ style: hidden }
                .form-group= f.text_field :title, class: "form-control"
                = yield(:role_update_btn_set)

        .row
          .col-md-12
            %h5.holder
              = t '.role_description'
              %span.a= role.description
              %span.b{ style: hidden }
                .form-group= f.text_field :description, class: "form-control"
                = yield(:role_update_btn_set)
        .row
          .col-md-12
            %h5.holder
              = t("admin.roles.the_role_bootstrap3_ui.labels.parent.#{request.subdomain}", default: 'Parent:')
              %span.a= (role.parent.try(:title) || 'None')
              %span.b{ style: hidden }
                .form-group= f.collection_select :parent_id, Role.where.not(id: role.id), :id, :title, {include_blank: 'None', selected: role.parent_id} ,{class: "form-control"}
                = yield(:role_update_btn_set)
        .row
          .col-md-12
            %h5.holder
              = t("admin.roles.the_role_bootstrap3_ui.labels.dashboard_layout.#{request.subdomain}", default: 'Dashboard Layout:')
              %span.a= (role.dashboard_layout.try(:name) || 'None')
              %span.b{ style: hidden }
                .form-group= f.select :dashboard_layout_id, options_from_collection_for_select(DashboardLayout.order(:name), :id, :name, selected: role.dashboard_layout.try(:id)), { include_blank: true , class: "form-control"}
                = yield(:role_update_btn_set)
        .row
          .col-md-12
            %h5.holder
              = t("admin.roles.the_role_bootstrap3_ui.labels.report_form.#{request.subdomain}", default: 'Report Form:')
              %span.a= (role.collections.report_form.first.try(:name) || 'None')
              %span.b{ style: hidden }
                .form-group= select_tag 'role[collection_ids][]', options_from_collection_for_select(Collection.report_form, :id, :name, selected: role.collections.report_form.first.try(:id)), { include_blank: true , class: "form-control"}
                = yield(:role_update_btn_set)
        .row
          .col-md-12
            %h5.holder
              = t("admin.roles.the_role_bootstrap3_ui.labels.report_summary.#{request.subdomain}", default: 'Report Summary Collection:')
              %span.a= (role.collections.summary.first.try(:name) || 'None')
              %span.b{ style: hidden }
                .form-group= select_tag 'role[collection_ids][]', options_from_collection_for_select(Collection.summary, :id, :name,  selected: role.collections.summary.first.try(:id)), { include_blank: true , class: "form-control"}
                = yield(:role_update_btn_set)
        .row
          .col-md-12
            %h5.holder
              = t("admin.roles.the_role_bootstrap3_ui.labels.external_data_summary.#{request.subdomain}", default: 'External Data Summary Collection:')
              %span.a= (role.collections.external_data_summary.first.try(:name) || 'None')
              %span.b{ style: hidden }
                .form-group= select_tag 'role[collection_ids][]', options_from_collection_for_select(Collection.external_data_summary, :id, :name,  selected: role.collections.external_data_summary.first.try(:id)), { include_blank: true , class: "form-control"}
                = yield(:role_update_btn_set)
        .row
          .col-md-12
            %h5.holder
              = t("admin.roles.the_role_bootstrap3_ui.labels.feed_email.#{request.subdomain}", default: 'Feed Email Collection:')
              %span.a= (role.collections.feed_email.first.try(:name) || 'None')
              %span.b{ style: hidden }
                .form-group= select_tag 'role[collection_ids][]', options_from_collection_for_select(Collection.feed_email, :id, :name,  selected: role.collections.feed_email.first.try(:id)), { include_blank: true , class: "form-control"}
                = yield(:role_update_btn_set)

  .panel.panel-piluku
    .panel-heading
      %h3.panel-title Role rules
    .panel-body
      - role.to_hash.each_pair do |section, rules|
        .panel.panel-info
          .panel-heading
            .row
              .col-md-9
                %h5= section
              .col-md-3
                .delete
                  .btn-group
                    = button_to t('.delete_section'), admin_role_section_path(role, section), method: :delete, class: 'btn btn-danger', data: { confirm: t('.section_delete_confirm') }

          .panel-body
            .rules
              - rules.each_pair do |rule, value|
                .row
                  .col-md-9
                    %h4
                      &rarr;
                      = rule
                  .col-md-3
                    .controls
                      .btn-group
                        - klass = value ? :success : :info
                        - state = value ? t('.enable') : t('.disable')
                        %button{ class: "btn btn-#{klass}" }= state
                        %button{ class: "btn btn-#{klass} dropdown-toggle", 'data-toggle' => :dropdown }
                          %span.caret
                        %ul.dropdown-menu
                          %li.success= link_to t('.enable'),  rule_on_admin_role_section_path(role, section, :name => rule), :method => :put
                          %li.info=    link_to t('.disable'), rule_off_admin_role_section_path(role, section, :name => rule), :method => :put
                          %li.divider
                          %li.error= link_to t('.delete_rule'), destroy_rule_admin_role_section_path(role, section, :name => rule), method: :delete, data: { confirm: t(".rule_delete_confirm") }

  .panel.panel-piluku
    .panel-heading
      %h3.panel-title
        = t '.create_section'
    .panel-body
      = form_tag admin_role_sections_path(role), class: "form-inline"do |f|
        .form-group
          = text_field_tag :section_name, '', class: "form-control", placeholder: t('.new_section_placeholder')
        = submit_tag t('.create_section'), class: "btn btn-success"

  .panel.panel-piluku
    .panel-heading
      %h3.panel-title
        = t '.create_rule'
    .panel-body
      = form_tag create_rule_admin_role_sections_path(role), role: :form, class: "form-inline" do |f|
        .form-group
          %select.form-control{ name: :section_name }
            - role.to_hash.each_pair do |section, rules|
              %option{ value: section }= section
        .form-group
          = text_field_tag :rule_name, '', class: "form-control", placeholder: t('.new_rule_placeholder')
        = submit_tag t('.create_rule'), class: "btn btn-success"
  - if role.name != 'admin'
    .panel.panel-piluku
      .panel-heading
        %h3.panel-title Delete role
      .panel-body
        .delete
          .btn-group
            = button_to 'Delete Role', admin_role_path(role), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you wish to delete role? If you delete this role, it and all children will be removed.' }